@import url('./reset.css');

:root {
  --blue: #09f;
  --green: #9f0;
  --orange: #f90;
  --pink: #f09;
  --purple: #90f;
}

/* class */
.center {
  display: grid;
  place-content: center;
}

.circle {
  border-radius: 100%;
  background-color: var(--blue);
  width: 75px;
  height: 75px;
}

.container {
  margin-inline: auto;
  width: min(100% - 30px, 1080px);
}

.flex {
  display: flex;
}

.square {
  background-color: var(--green);
  width: 75px;
  height: 75px;
}

/* main */
main .center {
  height: 100vh;
}